{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

<h1>{{ _('Play?') }}</h1>
{{ wtf.quick_form(form) }}


{% if player_hand %}
<h3>Player's Cards</h3>
{% for card in player_hand %}
<img src="{{ url_for('static', filename=card[2]) }}" class="card-image">
{% endfor %}
{% endif %}

{% if dealer_hand %}
<H3>Dealer's Cards</H3>
<img src="{{ url_for('static', filename=dealer_hand[0][2]) }}" alt="{{ dealer_hand[0][0] }}" class="card-image">
<img src="{{ url_for('static', filename='/cards/2B.png') }}" class="card-image">
{% endif %}

{% endblock %}