{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

{% if game_status.game_status != "In Progress" and form is defined %}
{% if game_status.game_status == "Finished" %}
<h1>{{ _('Another game?') }}</h1>
{{ wtf.quick_form(form) }}
{% else %}
<p>Balance: $ {{ current_user.balance }}</p>
<h1>{{ _('Play?') }}</h1>
{{ wtf.quick_form(form) }}
{% endif %}
{% endif %}

{% if game_status.game_status == "Finished" %}
<form action="{{ url_for('casino.blackjack') }}" method="post">
    <button type="submit">Back to start</button>
</form>
{% endif %}

{% if player_hand %}
<h3>Your Cards</h3>
{% for card in player_hand %}
<img src="{{ url_for('static', filename=card[2]) }}" class="card-image">
{% endfor %}
{% endif %}


{% if dealer_hand %}
<H3>Dealer Cards</H3>
{% if game_status.game_status == "First Move" %}
<img src="{{ url_for('static', filename=dealer_hand[0][2]) }}" alt="{{ dealer_hand[0][0] }}" class="card-image">
<img src="{{ url_for('static', filename='/cards/2B.png') }}" class="card-image">

{% else %}
{% for card in dealer_hand %}
<img src="{{ url_for('static', filename=card[2]) }}" class="card-image">
{% endfor %}
{% endif %}
{% endif %}

{% if game_status.game_status and game_status.game_status != "Finished" %}
<form action="{{ url_for('casino.blackjack_hit') }}" method="post">
    <button type="submit">Hit</button>
</form>
<form action="{{ url_for('casino.blackjack_stand') }}" method="post">
    <button type="submit">Stand</button>
</form>
{% endif %}

{% endblock %}